menu "AT_HOST_Setup"
    config AT_HOST_Enable
        bool "Enable AT_HOST_communcation."
        depends on TOOLBOX_ENABLED

    if AT_HOST_Enable
        config AT_command_set_selection
            int "AT_command_set_selection"
            default 1
            help 
                "AT_cmd_init with The first instruction set or the second instruction set"
    endif
endmenu